.DS_Store
dependencies
node_modules
*/node_modules_
*/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.db
*.log
*.out
*.xlsx
*.xls
*.xml
*.zip
*.gz
*.pdf
*.txt
*.pyc
